#root {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(211, 211, 211);
    box-sizing: border-box;
    padding: 2rem 0px;
}

body {
    min-height: auto;
    margin: 0;
    padding: 0px;
}