main.main-content {
    margin: 0px auto;
    width: clamp(16rem, 90rem, 90vw);
    background: #ffffffaa;
    min-height: calc(100vh - 4rem);
    box-shadow: 10px 6px 10px 0.3rem rgb(185, 185, 185);
    border-radius: 1rem;
    border-width: 2px;
    border-color: #969696aa;
    border-style: solid;
    box-sizing: border-box;
    padding: 1rem 0.4rem;
 
}